# The Bot token
DISCORD_TOKEN=YOUR_TOKEN_HERE

# Guild ID where slash commands are synced
SERVER=161
# Music interaction channel (e.g. #music)
I_CHANNEL=161

# Role names f.e. "Mod" "Admin"
MOD=161
TRAIL_MOD=161

# Optional: role IDs, additional config...
TEAM_ROLE=161